.container{
    display:flex;
    justify-content:center;
  /*   position:relative; */
    width:100%;
    background-color:#D5EAEB;
    height:500px;
  }
  .one {
    background: #D5EAEB;
    position: relative;
  }
  
  .one::after,
  .one::before {
    position: absolute; 
    content: '';
    width: 150px;
    height: 150px;
    background: #D5EAEB;
    bottom: -1em;
    z-index: 1;
  }
  
  .one::before {
    right: 50%;
    transform: skew(0, 20deg)
  }
  
  .one::after {
    left: 50%;
    transform: skew(0, -20deg)
  }
  .next {
    background: #CBB9C1;
    width:100%;
    height:300px;
  /*   position: relative; */
    z-index: 2;
  /*   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
    margin-bottom: -10vw;
  }
  